.product-section .container {
  max-width: 1100px;
  width: 95%; }

.product {
  width: 100%;
  margin-top: 6%;
  display: flex; }
  @media screen and (max-width: 768px) {
    .product {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.product__photo {
  background-color: #ffc92f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%; }
  @media screen and (max-width: 768px) {
    .product__photo {
      width: 100%; } }

.product__img {
  margin-left: 5%; }

.product__info {
  border: 10px solid #ffc92f;
  width: 52%; }
  @media screen and (max-width: 768px) {
    .product__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; } }

.product__head {
  border-bottom: 1px solid #e0d9c8;
  padding: 28px; }
  @media screen and (max-width: 768px) {
    .product__head {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.product__name {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fcba2e; }

.product__title {
  font-size: 56px;
  color: #1b1b1b;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  margin-top: -2%;
  margin-bottom: -2%; }

.product__price {
  font-size: 38px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  background-color: #ffc92f;
  width: fit-content;
  padding: 0 14px; }

.product-desc__list {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #1b1b1b;
  padding: 28px;
  border-bottom: 1px solid #e0d9c8; }

.product-desc__item:not(:last-child) {
  margin-bottom: 15px; }

.product__footer {
  padding: 37px 37px 35px 28px; }
  @media screen and (max-width: 768px) {
    .product__footer {
      display: flex;
      flex-direction: column; } }

.product-size__list {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 7%; }
  @media screen and (max-width: 480px) {
    .product-size__list {
      flex-wrap: wrap;
      justify-content: space-evenly; } }

.product-size__item {
  width: 49px;
  height: 49px;
  border: 2px solid #dfd9c7;
  margin-right: 2.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cac3b3; }
  .product-size__item:hover {
    cursor: default;
    background-color: inherit; }
  .product-size__item--active {
    color: #1b1b1b; }
    .product-size__item--active:hover {
      cursor: pointer;
      background-color: #ffc92f; }
  @media screen and (max-width: 480px) {
    .product-size__item {
      margin: 2.2%; } }

.product-size__item:last-child {
  margin-right: 0; }
  @media screen and (max-width: 480px) {
    .product-size__item:last-child {
      margin: 2.2%; } }

.product-size__item--choice {
  background-color: #ffc92f; }

.product-color__list {
  display: flex;
  margin-bottom: 37px; }
  @media screen and (max-width: 768px) {
    .product-color__list {
      display: flex;
      justify-content: space-evenly; } }

.product-color__item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 4.5%;
  position: relative;
  cursor: pointer;
  flex-shrink: 0; }
  .product-color__item.black {
    background-color: #2f2b25; }
  .product-color__item.white {
    background-color: #fcf5e6;
    border: 2px solid #dfd9c7; }
  .product-color__item.green {
    background-color: #519028; }
  .product-color__item.blue {
    background-color: #38488d; }
  .product-color__item.red {
    background-color: #d72727; }
  @media screen and (max-width: 768px) {
    .product-color__item {
      margin-right: 12.5%; } }

.product-color__item::before {
  content: '';
  width: 35px;
  height: 35px;
  display: none;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #ffc92f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.product-color__item--active::before {
  display: block; }

.product-color__item:hover::before {
  display: block; }

.btn.product__btn {
  color: #ffc92f;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 13px 72px;
  letter-spacing: 2px; }
  .btn.product__btn:hover {
    background-color: #d72727;
    color: #fff; }

.product-color__item:last-child {
  margin-right: 0; }

/*# sourceMappingURL=product-section.css.map */
