.section-info {
  margin-top: 96px;
  margin-bottom: 79px;
  .container {
    max-width: 1100px;
    width: 95%;
  }
  .tabs__link {
    padding: 2px 31px;
}
}

.info__content {
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #1b1b1b;
  position: relative;
  width: 100%;
  min-height: 476px;
}

.info__desc-wrap {
  display: flex;
  border: 10px solid #ffc92f;
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}

.info__list {
  border-right: 1px solid #e0d9c8;
  padding: 50px 34px 27px;
  width: 31%;
  @media screen and (max-width: 1050px) {
    width: 50%;
    padding: 5%;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
    border-bottom: 1px solid #e0d9c8;
  }
}

.info__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  @media screen and (max-width: 480px) {
    flex-direction: row;
    justify-content: flex-start;
  }

  
}

.info__pic {
  width: 26px;
  height: 24px;
  margin-right: 26px;
  @media screen and (max-width: 768px) {
   margin-right: 0;
  }
  @media screen and (max-width: 480px) {
    margin-right: 26px;
  }
}

.info__text {
  padding: 53px 65px 47px 30px;
    word-spacing: 3.5px;
    letter-spacing: 0px;
    width: 69%;
    font-weight: 400;
    line-height: 1.7em;
    @media screen and (max-width: 1050px) {
      width: 50%;
      padding: 5%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
}


.info__tables-wrap {
  display: flex;
  border: 10px solid #ffc92f;
  width: 100%;
  @media screen and ( max-width:768px ) {
    font-size: 11px;
  }
  @media screen and ( max-width:480px ) {
    flex-direction: column;
  }
  .info__left {
    padding: 2%;
    @media screen and ( max-width:480px ) {
      display: flex;
      width: 100%;
    }
  }
  .info__pic-table {
    margin-bottom: 45px;
    @media screen and ( max-width:480px ) {
      margin-bottom: 0;
      width: 69%;
    }
  }
  
  .info__item-tables {
    display: flex;
      p:not(:last-child) {
        margin-right: 7%;
      }
  }
  table {
    width: 100%;
    text-align: center; 
  }
  tr, td, th {
    border: 1px solid #e0d9c8;
    padding: 2%; 
    @media screen and ( max-width:768px ) {
      padding: 3% 1%;
    }
    @media screen and ( max-width:480px ) {
      padding: 1%;
    }
  }
  th {
    background-color: #f6efe0;
    border-width: 2px;
  }
}

.info__left{

  border-right: 1px solid #e0d9c8;
  padding: 50px 34px 27px;
  width: 31%;
  @media screen and ( max-width:768px ) {
    width: 28%;
    padding: 1%;
  }
}

.info__right {
  width: 69%;
  @media screen and ( max-width:768px ) {
    width: 72%;
  }
  @media screen and ( max-width:480px ) {
    width: 100%;
  }
}

.tables__title{
  text-align: left;
}


.info__delivery-wrap {
  display: flex;
  border: 10px solid #ffc92f;
  @media screen and (max-width:480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .info__list {
    border-right: 1px solid #e0d9c8;
    padding: 0;
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:480px) {
      width: 100%;
    }
  }
  .info__item {
    display: initial; 
    align-items: initial; 
    margin-bottom: 0;
  }
  .info__pic {
    margin-right: 0;
    width: 182px;
    height: 165px;
    @media screen and (max-width:768px) {
      width: 118px;
    }
    @media screen and (max-width:480px) {
      width: 150px;
      height: 100%;
      padding-bottom: 3%;
    }
  }
  .info__text {
    padding: 4%;
    @media screen and (max-width:1050px) {
      width: initial;
    }
    p {
      margin-bottom: 1%;
    }
  }
}

.info__brand-wrap {
  display: flex;
  border: 10px solid #ffc92f;
  @media screen and (max-width:480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .info__list {
    border-right: 1px solid #e0d9c8;
    padding: 0;
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:480px) {
      width: 100%;
    }
  }
  .info__item {
    display: initial; 
    align-items: initial; 
    margin-bottom: 0;
  }
  .info__pic {
    margin-right: 0;
    width: 182px;
    height: 46px;
    @media screen and (max-width:768px) {
      width: 118px;
    }
    @media screen and (max-width:480px) {
      width: 150px;
      height: 100%;
      padding-bottom: 3%;
    }
  }
  .info__text {
    padding: 4%;
    @media screen and (max-width:1050px) {
      width: initial;
    }
    p {
      margin-bottom: 1%;
    }
  }
}

.info__desc-wrap, .info__tables-wrap, .info__delivery-wrap, .info__brand-wrap {
  position: absolute;
  opacity: 0;
}

.info__visible {
  opacity: 1;
}