.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.tabs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.tabs__item {
  &--active 
  .tabs__link{
    background-color: #1b1b1b;
    color: #ffc92f;
  } 
}



.tabs__link {
  padding: 10px 22px;
  display: inline-block;
  &:hover {
    color: #d82727;
    transition: color .5s;
  }
  &--active {
    background-color: #1b1b1b;
    color: #ffc92f;
    transition: color .5s;
  } 
}

